.LeftProductSection {
    width: 484px;
    text-align: center;
}

.SellingSection {
    display: flex;
    flex-direction: row;
    width: 484px;
    align-items: flex-start;
}

img.Avg {
    margin-top: 4%;
}