.RightProductSection {
    width: 586px;
    margin-top: 5%;

    h5 {
        color: $corporate-color;
        font-size: 20px;

        font-weight: 600;
    }

    h3 {
        margin-top: 6%;
        @include font;
        font-size: 48px;
        font-weight: 800;
    }

    p {
        margin-top: 6%;
        font-size: 20px;
        @include font;
        font-weight: 400;
    }
}

.ceo {
    gap: 4%;
    display: flex;
    align-items: center;
    margin-top: 10%;

    p {
        font-size: 22px;
        @include font;
        font-weight: 500;
    }

    h4 {
        font-size: 22px;
        font-weight: 700;
        @include font;
    }

}